<form action='/<%= idea.id %>' method='POST'>
  <h3>
    <% if idea.id %>
      Edit your Idea
    <% else %>
      Your Idea:
    <% end %>
  </h3>

  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>

  <input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
  <textarea name='idea[description]'><%= idea.description %></textarea><br/>
  <input type='submit'/>

  </br>
  </br>

  <a href="" class="box"> How to submit an idea via SMS </a>
</form>

<div class="sms-instructions">
</div>

<script>
  $(document).ready(function(){
    $(".box").click(function(e){
      $(".sms-instructions").prepend("<p> Text 513-322-5473 with a message in the following format: title, description </p>");
      e.preventDefault();
    });
  });
</script>
