<html>
  <head>
    <title>IdeaBox</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "css/overrides.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>
  <body>
    
    <%= yield %>

  </body>
</html>
