

  <% unless search_results.empty?  %>

    <ul>

    <% search_results.each do |idea| %>

    <li>

      <%= idea.title %>
      </br>
      <%= idea.description %>
      </br>
      </br>

    </li>
    <% end %>

  </ul>

  <% else %>

    <%= erb :no_search_results %>

  <% end %>

<a href="/">Back</a>

